body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.checkpoint-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Utilise toute la hauteur de la page */
  flex-direction: column; /* Aligne les enfants verticalement */
}

.checkpoint-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espace entre les éléments */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

